/* #############################################################################
##############################   OVERALL STYLES   ##############################
############################################################################## */

body{
  color: #423d39;
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width:960px
  margin:10px auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

/* Fifth level heading */
.horizontal_line {
  border-bottom: 2px solid #DDD;
}

p {
  font-size: 1.10rem;
}

.navbar {
  font-size: 1.20rem;
}



/* =============================================================================
   HEADER
============================================================================== */

.header {
  background-size: cover;
  border-bottom: 40px solid #DDD;
}

.navbar {
  position: absolute;
  margin: auto;
  background-color: #DDD;
  padding: 10px 25px;
  width: 100%;
}

.navbar a {
  margin-top: -6px;
  padding: 10px;
  text-decoration: none;
  color: #423d39;
}

.Entete{
  text-align: center;
  margin:auto 0 30px;
  padding: 75px;
  height:200px;

}

/* First level heading */
.h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 40px;
}

/* Paragraph below the h1 in the .Entete */
.subtitle {
  font-size: 1.8em;
}


/* =============================================================================
   BODY
============================================================================== */

/* Decorative horizontal line */
.decoration {
  height:40px;
  width:100%;
  background-image: url(../img/);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.corps {
  margin:auto 10%;
  width: 80%;
}


.presentation {
  text-align: center;
  margin:0 10%;
  font-size: 15px;
  height:40%;
}


/* =============================================================================
   FOOTER
============================================================================== */

footer {
  bottom: 0;
  margin-top: 50px;
  height:  200px;
  width: auto;
  padding: 48px 0;
  background-image: url();
  background-size: cover;
  background-position: bottom;
  text-align: center;

}


.button-back-top a {
  color: #423D39;
  text-decoration: none;
}

.copyright {
  padding: 80 0 0 0;

}



/* #############################################################################
##############################   SPECIFIC PAGES   ##############################
############################################################################## */

/* =============================================================================
   "Portfolio MENUE" page
============================================================================== */

.resizecolomn{

  text-align: center;
  border-bottom: 2px solid #ddd;
  padding: 20px

}


.image_VIDEO{

  background-image: url(../img/JB/R.jpg);
  background-size:contain;
  width: 270px;
  height: 150px;
  margin:0 auto 20px;
}


.image_SITESINTERNET{

  background-image: url(../img/JB/R.jpg);
  background-size:contain;
  width: 270px;
  height: 150px;
  margin:0 auto 20px;
}


.image_CANEVAS{

  background-image: url(../img/JB/orangé_aube.png);
  background-size:contain;
  width: 270px;
  height: 150px;
  margin:0 auto 20px;

}


.image_3D-MODELS{

  background-image: url(../img/3d/moine.jpg);
  background-size:contain;
  width: 270px;
  height: 150px;
  margin:0 auto 20px;
}

.return_menue {
  text-align: center;
  width:80%;
  margin:20px 10%;
  font-size: 14px;
}

.return_menue a{

  margin:20px auto;
  font-size: 14px;
  color: #423d39;
}

/* =============================================================================
   "Portfolio" pages
============================================================================== */

.image_profil {
  background-color: white;
  height:300px;
  width:400px;
  margin:10px 9px;
}

.item {
width:auto;
margin: 20px;
}

.item_video {
  width:400px;
  height:220px;
  padding:15px 15px;
  margin:25px 25px;
}

.carousel{
  margin: auto;
    height: 500px;
    width:900px;

}



.portfolio_header {
  font-size: 42px;
  text-align: center;
  margin:40px auto;
  width:400px;
  border-bottom: 2px solid #DDD;
}

.gallery {
  text-align: center;
  font-size: 22px;
  margin: 40px auto;
  padding-bottom: 5px;
  width: 250px;
  border-bottom: 2px solid #DDD;
}

.container_portfolio {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}


/* =============================================================================
   "À propos" page
============================================================================== */

.profile-photo {
  display: block;
  max-width:300px;
  margin: 50px auto 50px;
  border-bottom: 5px solid #b8aea5;
  border-right: 5px solid #b8aea5;
  border-radius: 200px;
}


/* =============================================================================
   "Contact" page
============================================================================== */

.contact_form {
  padding-left: 15%;
}
